@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.showSideBar {
  width: 16.666667%;
  margin-top: 1.25rem;
  border-radius: 0.75rem;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  box-sizing: border-box;
  padding-left: 1.25rem/* 20px */;
  padding-right: 1.25rem/* 20px */;
  padding-top: 1.25rem/* 20px */;
  padding-bottom: 1.25rem/* 20px */;
  margin-left: 0.5rem
}

.hideSideBar {
  width: 16.666667%;
  margin-top: 1.25rem;
  border-radius: 0.75rem;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  box-sizing: border-box;
  padding-left: 1.25rem/* 20px */;
  padding-right: 1.25rem/* 20px */;
  padding-top: 1.25rem/* 20px */;
  padding-bottom: 1.25rem/* 20px */;
  margin-left: 0.5rem;
  display: none;
}


